/*
can't get the following to work ----->>>>
Any text in an element with class "disabled" should be colored grey, 
unless it is inside an anchor tag. If inside an anchor, it should be colored purple.
*/

header {
	border: 1px solid;
	border-color: red;
}

nav {
	padding: .5em;
	word-spacing: 2em;
}

/*.disabled {
	color: gray;
}*/

li.disabled {
	color: gray;
}

a.disabled {
	color: purple;
}

.active {
	color: yellow;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.red + h4 {
	background-color: red;
}

.blue + h4 {
	background-color: blue;
}

.grandparent > h4 {
	border: 1px solid;
	border-radius: 25px;
}

.promo {
	color: gold;
	font-weight: bold;
}

input {
	line-height: 25px;
}